<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Đăng ký</title>
    <style>
      body {
        font-family: Arial;
        background: #eef1f5;
      }

      .container {
        width: 380px;
        margin: 50px auto;
        background: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 0 6px #aaa;
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      label {
        font-size: 15px;
      }
      input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        width: 100%;
        padding: 10px;
        border: none;
        color: white;
        background: #2a7ae4;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
      }

      .text-center {
        text-align: center;
      }
      a {
        color: #2a7ae4;
      }
      p {
        color: red;
        text-align: center;
        margin: 5px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Đăng ký</h2>

      <form action="/register" method="post">
        <label>Tài khoản</label>
        <input type="text" name="taikhoan" required />

        <label>Mật khẩu</label>
        <input type="password" name="matkhau" required />

        <label>Họ tên</label>
        <input type="text" name="hoten" required />

        <label>Email</label>
        <input type="email" name="email" />
        <% if(error){ %>
        <p>Tai khoan hoac email da ton tai</p>
        <% } %>
        <button>Đăng ký</button>
      </form>

      <div class="text-center">
        Đã có tài khoản? <a href="/login">Đăng nhập</a>
      </div>
    </div>
  </body>
</html>
